header {
<<<<<<< HEAD
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px 50%;
}
=======
    color: #ffffff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    background: url("../images/logo.png") no-repeat top left 20px;
}
>>>>>>> c1d1610de215d1cb107e962196b5b7c43de2af6a
