.places {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.places h1 {
    margin: 1;
    font-size: 30px;
    text-align: left;
    flex-basis: 100%;
    margin-bottom: 1;
}
article {
    width: 390px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
h2 {
    font-size: 30px;

}